.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.or-container {
    align-items: center;
    color: #ccc;
    display: flex;
    margin: 25px 0;
}
.line-separator {
    background-color: #ccc;
    flex-grow: 5;
    height: 1px;
}
.or-label {
    flex-grow: 1;
    margin: 0 15px;
    text-align: center;
}
.btn-google {
    color: #545454;
background-color: #ffffff;
box-shadow: 0 1px 2px 1px #ddd;
border-radius: 30px;
}
.cascading-right {
    margin-right: -100px;
  }

  @media (max-width: 800px) {
    .cascading-right {
      margin-left: 100px;
    }
  }
  .signup {
    color: #ffffff;
    background-color: #9000ff;
    box-shadow: 0 1px 2px 1px #ddd;
  }

  .login {
    color: #ffffff;
    background-color: #0073ff;
    box-shadow: 0 1px 2px 1px #ddd;
    border-radius: 30px;
  }